in@@include('./src/templates/_head.html')
@@include('./src/templates/_nav.html')

<div class="container-fluid">
    <div class="row">
        <div class="text-center col-xs-8 col-xs-offset-2">
            <h1 class="big-text">
                404
            </h1>
            <p class="lead">
                Like most research projects, Rhythm is a
                work-in-progress! We're working on these pages. Check
                back later for more info.
            </p>
            <p class="lead">
                In the meantime, head back to our <a class="contact-link" href="/">homepage</a>,
                or <a class="contact-link" href="mailto:dcalacci@mit.edu">email us</a> for
                more information.
            </p>
        </div>

    </div>
</div>

<div class="navbar-fixed-bottom">
    @@include('./src/templates/_footer.html')
</div>
